.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
}
.card {
  border: 1px solid black;
  text-align: center;
  padding: 2rem;
}

.date {
  color: grey;
}

.createNote {
  background-color: #e7e8e9;
  font-size: 15px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282c34;
  padding-bottom: 2rem;
}
